.same-size{
	text-align: center;
	margin: 4px;
	width: 130px;
}

.double-size{
	text-align: center;
	margin: 4px;
	width: 260px;
}

.center{
	text-align: center;
}

/* Sombra sobre las secciones y el aside */
.border-shadaw{
	-webkit-box-shadow: 1px 1px 6px 3px #A8A8A8;
	box-shadow: 1px 1px 6px 3px #A8A8A8;
	/* Para que calce con el menu */
}

.btn-lightblue{
	background-color: lightblue;
}

.oculto{
	visibility: hidden;
}